<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieCoreMvcUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">BookmyShow</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-warning" asp-area="" asp-controller="Home" asp-action="Index"><span class="badge badge-pill badge-primary">Home</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Index"><span class="badge badge-pill badge-primary">Movie</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-success" asp-area="" asp-controller="Theatre" asp-action="Index"><span class="badge badge-pill badge-primary">Theatre</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Show" asp-action="Index"><span class="badge badge-pill badge-primary">Show Timing</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-wrap" style="color:blue" asp-area="" asp-controller="User" asp-action="Index"><span class="badge badge-pill badge-primary">User</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Book" asp-action="Index"><span class="badge badge-pill badge-primary">Book Ticket</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Bill" asp-action="Index"><span class="badge badge-pill badge-dark">Bill</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-danger" style="color:red; outline:solid" asp-area="" asp-controller="SignOut" asp-action="Index">Sign Out</a>
                        </li>
                    </ul>
                   
                </div>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" style="color:blue;background-color:burlywood" type="button" data-toggle="dropdown" aria-expanded="false">
                        Follow on
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Twitter</a>
                        <a class="dropdown-item" href="#">Instagram</a>
                        <a class="dropdown-item" href="#">Face Book</a>
                        <a class="dropdown-item" href="#">Linked in</a>
                        <a class="dropdown-item" href="#">Youtube</a>
                        <a class="dropdown-item" href="#">Pin Interest</a>
                    </div>
                </div>
            </div>
        </nav>

        

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MovieCoreMvcUI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
