@model BookShowEntity.ShowTiming;
@{
    ViewData["Title"] = "ShowEntry";
}

<div>
    <hr />
    <a asp-controller="Show" asp-action="Index">Index</a>
    <hr />
</div>

<form method="post" enctype="multipart/form-data">
    <h2>Show Entry</h2><hr />
    <div class="group-form">
        <label>movie Id</label>
        <input type="number" asp-for="MovieId" class="form-control" placeholder="enter movie Id" required />
    </div>

    <div class="group-form">
        <label>Theatre Id</label>
        <input type="number" asp-for="TheatreId" class="form-control" placeholder="enter Theatre Id" required />
    </div>

    <div class="group-form">
        <label>Show Time</label>
        <input type="datetime-local" asp-for="ShowTime" class="form-control" placeholder="enter show Time" required />
    </div>

    <input type="submit" value="save" class="btn btn-outline-success" />
    <input type="button" value="reset" class="btn btn-outline-secondary" />
    <hr />

    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>

