@model IEnumerable<BookShowEntity.Movie>;

@{
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="row">
    <div class="col-12">
        <h3>Movies</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>Movie Id</th>
                    <th>Movie Name</th>
                    <th>Movie Desc</th>
                    <th>Movie Type</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model)
                {
                    <tr>
                        <td>@movie.Id</td>
                        <td>@movie.Name</td>
                        <td>@movie.MovieDesc</td>
                        <td>@movie.MovieType</td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>