
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@*<div class="progress">
    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>*@

<div class="row">
    @*should be 12 based column*@
    <div class="col-4">
        <div class="card">
            <img src="~/lib/antman.jpg" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">Ant</h5>
                <p class="card-text">It's ant man.</p>
                @*<a href="#" class="btn btn-primary">Book</a>*@
                <a asp-controller="Book" asp-action="BookEntry" class="btn btn-primary"> Book</a>
            </div>

        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="./lib/bat3_tn.jpg" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">BatMan</h5>
                <p class="card-text">something  dsfav yusgdyu.</p>
                <a asp-controller="Book" asp-action="BookEntry" class="btn btn-primary"> Book</a>
            </div>

        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="./lib//hulk.jpg" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">Hulk</h5>
                <p class="card-text">dsdshfg dsygff ufudhfiygds y</p>
                <a asp-controller="Book" asp-action="BookEntry" class="btn btn-primary"> Book</a>
            </div>

        </div>
    </div>
</div>
<div class="row">
    @*should be 12 based column*@
    <div class="col-4">
        <div class="card">
            <img src="./lib/iron2_tn.jpg" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">Iron Man</h5>
                <p class="card-text">gsy ysgd sdsiusasjh dh.</p>
                <a asp-controller="Book" asp-action="BookEntry" class="btn btn-primary"> Book</a>
            </div>

        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="./lib/joker.jpg" class="card-img-top" alt="...">

            <div class="card-body">
                <h5 class="card-title">Joker</h5>
                <p class="card-text">fdhgds dgfdsg idgfi fdhs.</p>
                <a asp-controller="Book" asp-action="BookEntry" class="btn btn-primary"> Book</a>
            </div>

        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="./lib/iron3_tn.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Iron Man 3</h5>
                <p class="card-text">dfgd syf g fuyf dshfodsy fsdgjhdsfds .</p>
                <a asp-controller="Book" asp-action="BookEntry" class="btn btn-primary"> Book</a>
            </div>

        </div>
    </div>
</div>

<div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>