@model BookShowEntity.BookTicket;


<form method="post" enctype="multipart/form-data">
    <h2>Delete Book Ticket Entry</h2><hr />
    <div class="group-form">
        <label>Booki Id</label>
        <input type="text" asp-for="Id" class="form-control" placeholder="enter book tricket id" required />
    </div>
    <input type="submit" value="Delete" class="btn btn-outline-success" />

    @if (ViewBag.status == "Ok")
    {
        <div class="alert alert-success">
            @ViewBag.message
        </div>
    }
    else if (ViewBag.status == "Error")
    {
        <div class="alert alert-danger">
            @ViewBag.message
        </div>
    }
</form>